# Python .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
env/
ENV/
venv/
.venv/
.pyenv/

# Pytest
.pytest_cache/

# Coverage
.coverage
.coverage.*
htmlcov/

# Test, logs, temp
*.log
*.tmp

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter
.ipynb_checkpoints

# Mypy
.mypy_cache/
.dmypy.json

# Rope
.ropeproject

# Environments
.env
.env.*

# macOS
.DS_Store
